body {
    margin: 80px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Ubuntu', serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

nav {
    border-top: 1px solid #d5d5d5;
}

i {
    color: #333;
}

a {
    text-decoration: none;
    color: #999;
    padding-left: 2px;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Ubuntu', serif;
}
p {
    font-size: 1.18em;
    line-height: 1.3em;
    color: #333;
    font-family:'Ubuntu', serif;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
.img-circle {
    border-radius: 3%;
    width:200px;
    height:300px;
    float:right;
    margin-left: 50px;
}

.container {
    margin-bottom: 90px;
}
